*{
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}

h1{
    color: beige;
}
.container{
    background: linear-gradient(rgb(29, 28, 28),rgba(82, 24, 24, 0.9));
    box-sizing: border-box;
    height: 200vh;
    width: 100%;
    position: absolute;
    top: 0px;
    background-position: center;
    padding-left: 5%;
    margin-top: 0px;
    padding-right: 5%;
    background-size: cover;
}
.style{
    background-color: rgb(22, 20, 20);
    padding: 5px;
    margin-top: 150px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
.sign{
    background-color: #168ec5;
    color: #fff;
    padding: 10px 40px;
    margin-left: 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    text-align: left;
}
.sign:hover{
    transform: scale(1.1);
}
.img{
    width: 110px;
    text-align: right;
}
.img:hover{
    transform: scale(1.1);
}
.style2{
    background-color: rgb(32, 25, 25);
    padding: 5px;
    margin-top: 150px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.nav ul{
    flex: 1;
    text-align: left;
}
.nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
}
.sign2{
    background-color: #229ed9;
    color: #fff;
    padding: 10px 40px;
    margin-left: 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    text-align: left;
}
.sign2:hover{
    transform: scale(1.1);
}
.img{
    width: 110px;
    text-align: right;
}
.img:hover{
    transform: scale(1.1);
}
.style3{
    background-color: rgb(43, 34, 34);
    padding: 5px;
    margin-top: 150px;
}
.nav3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.nav3 ul{
    flex: 1;
    text-align: right;
}
.nav3 ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
.nav3 ul li a{
    text-decoration: none;
    color: #fff;
}
.sign3{
    background-color: #0d86be;
    color: #fff;
    padding: 10px 40px;
    margin-left: 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    text-align: left;
}
.sign3:hover{
    transform: scale(1.1);
}
.img{
    width: 110px;
    text-align: right;
}
.img:hover{
    transform: scale(1.1);
}